<div class = "conteiner">
  <div class="col-md-10 offset-md-1">
    <div class="border border-2 rounded-3 shadow p-3 mb-5 mt-5 bg-body rounded">
      <div class="row">
        <div class="col-lg-7 mx-auto">
          <div class = "text-center mt-5">
            <h2 class = "cantata">Profile</h2>
          </div>
            <%= form_with(model: @profile, local: true, url: profile_path) do |f| %>
              <%= render 'shared/error_message', object: f.object %>
              <div class="mt-3 mb-3 text-center">
                <%= image_tag @profile.avatar.url, id: 'preview', class: 'rounded-circle mr15',size: '150x150' %>
              </div> 
              <table class="table table-borderless">
                <tr> 
                  <th><%= f.label :name %></th>
                  <td><%= f.text_field :name, class: 'form-control' %></td>
                </tr>
                <tr>
                  <th><%= f.label :language, class:"form-label" %></th>
                  <td><%= f.text_field :language, class:"form-control mb-3" %></td>
                </tr>
                <tr>
                  <th><%= f.label :avatar %></th>
                  <td><%= f.file_field :avatar, class: 'form-control mb-3', accept: 'image/*'%></td>
                <%= f.hidden_field :avatar_cache %>
                </tr>
                <tr>
                  <th><%= f.label :introduction, class:"form-label" %></th>
                  <td><%= f.text_field :introduction, class:"form-control mb-3" %></td>
                </tr>
                <tr>
                  <th><%= f.label 'これまでの勉強時間' , class: "col-form-label"%>  
                  <%= link_to '#', data: { bs_toggle: "modal", bs_target: "#exampleModal" } ,style: "color: gray;" do %>
                    <i class="bi bi-question-circle"></i> 
                  <% end %>
                  </th>
                  <td>
                    <div style="display: inline-block;">
                      <%= f.text_field :hour, class: 'form-control' %></div>
                    <div style="display: inline-block;">
                      <%= f.label :hour, 'h', class: "col-form-label" %></div>
                    <div style="display: inline-block;">
                      <%= f.text_field :minutes,  class: 'form-control' %></div>
                    <div style="display: inline-block;">
                      <%= f.label :minutes, 'min', class: "col-form-label" %></div>
                  </td>
                </tr>

              </table>
                <div class = "text-center">
                  <%= f.submit '更新', class: 'btn btn-outline-secondary' %>
                </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
<div>

<%= render 'profiles/modal' %>
