<div class = "conteiner">
  <div class="col-md-10 offset-md-1">
    <div class="border border-2 rounded-3 shadow p-3 mb-5 mt-5 bg-body rounded">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class = "mt-5">
            <%= form_with model: curriculum_log do |f| %>
              <%= render 'shared/error_message', object: f.object %>
              <table class="table table-borderless">
                <tr>
                  <th style="text-align: center;"><%= f.label :curriculum_id,class: "col-form-label"%></th>
                  <td style="vertical-align: middle;">
                  <%= f.collection_select :chapter_id, @chapters, :id, :name, class: 'form-control' %>
                  <%= f.collection_select :curriculum_id, @curriculums, :id, :name, class: 'form-control' %>
                  </td>
                </tr>
                <tr>
                  <th style="text-align: center;"><%= f.label :title , class: "col-form-label"%></th>
                  <td><%= f.text_field :title, class: 'form-control' %></td>
                </tr>
                <tr>
                  <th style="text-align: center;"><%= f.label :body , class: "col-form-label"%></th>
                  <td><%= f.text_area :body, class: 'form-control' %></td>
                </tr>
                <tr>
                  <th style="text-align: center;"><%= f.label '勉強時間' , class: "col-form-label"%></th>
                  <td>
                    <div style="display: inline-block;">
                      <%= f.text_field :hour, class: 'form-control' %></div>
                    <div style="display: inline-block;">
                      <%= f.label :hour, 'h', class: "col-form-label" %></div>
                    <div style="display: inline-block;">
                      <%= f.text_field :minutes, class: 'form-control' %></div>
                    <div style="display: inline-block;">
                      <%= f.label :minutes, 'min', class: "col-form-label" %></div>
                  </td>
                </tr>
                </div>
              </table>
              <div class="text-center">
                <%= f.submit 'Logをつける',class: 'btn btn-secondary m-4'  %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
