<div class="container">
  <h1 class ="text-center mt-5 cantata"><%= current_user.profile.name %>'s loguma</h1>
  <div class ="text-center">
    <p>today's total: <%= daily_study_time(current_user) %></p>
  </div>

  <!-- é€²æ— -->
  <div class = 'col-6 mx-auto'>
    <%= render 'shared/progress'%>
  </div>

  <div class="row mt-1">    
    <div class="text-center my-3">     
      <%= link_to profile_path do %>
        <%= image_tag current_user.profile.avatar.url, class: 'rounded-circle mr15', width: '100', height: '100' %> 
      <% end %>
    </div>
  </div>

  <!-- æ¤œç´¢çª“ -->
  <div class="col-lg-10 offset-lg-1 mb-3">
    <%= render 'search', q: @q, url: curriculum_logs_path %>
  </div>
  <%= render @curriculum_logs %>
  <%= paginate @curriculum_logs, theme: 'bootstrap-5' %>

  <div class="text-center">
    <%= link_to "https://twitter.com/share?url=https://loguma.onrender.com&text=#{current_user.profile.name}ã•ã‚“ã®ä»Šæ—¥ã®å‹‰å¼·æ™‚é–“ã¯#{daily_study_time(current_user)}ã€#{count_logs_today(current_user)}å€‹Logumaã‚’ã¤ã‘ãŸãã¾ðŸ»&hashtags=Loguma", title: 'Twitter', target: '_blank' do %>
      <i class="bi bi-twitter"></i>
    <% end %>
  </div>   
</div>
