<div class="container short-window">
  <!-- é€²æ— -->
  <%= render 'curriculum_logs/progress'%>

  <!-- æ¤œç´¢çª“ -->
  <div class="col-lg-10 offset-lg-1 mb-3">
  <%= render 'search', q: @q, url: curriculum_logs_path %>
  </div>

  
      <%= render @curriculum_logs %>
      <%= paginate @curriculum_logs, theme: 'bootstrap-5' %>

      <!-- Twitterã‚¢ã‚¤ã‚³ãƒ³ -->

      <div class="text-center">
        <%= link_to "https://twitter.com/share?url=https://loguma.onrender.com&text=#{current_user.profile.name}ã•ã‚“ã®ä»Šæ—¥ã®å‹‰å¼·æ™‚é–“ã¯#{daily_study_time(current_user)}ãªã‚“ã ãã¾ðŸ»", title: 'Twitter', target: '_blank' do %>
          <i class="bi bi-twitter"></i>
        <% end %>
      </div>
    </div>
    
</div>
</div>
