<div class="container short-window">
  <div class="row">
    <div class=" col-md-4 col-lg-4 mx-auto">
      <h1 class="h3 mb-3 fw-normal text-center mt-5">ログイン</h1>
      <%= form_with url: login_path do |f| %>
        <div class="mb-3">
          <%= f.label :email%>
          <%= f.email_field :email, class: "form-control", placeholder:"メールアドレス"%>
        </div>
        <div class="mb-3">
          <%= f.label :password%>
          <%= f.password_field :password, class: "form-control",  placeholder:"Password"%>
        </div>
        <div class="text-center">
          <%= f.submit "Log In", class: "btn btn-secondary" %>
        </div>
      <% end %>
      <div class='text-center'>
        <%= link_to auth_at_provider_path(provider: :github), class: "btn btn-light mt-5 py-2 px-3", style:"background-color:#123A28; color:#fff;" do %>
          <i class="bi bi-github me-2"></i>GitHubでログイン
        <% end %>
        <%= link_to auth_at_provider_path(provider: :google), class: "btn btn-light mt-5 py-2 px-3", style:"background-color:#0d6efd; color:#fff;" do %>
          <i class="bi bi-google me-2"></i>Googleでログイン
        <% end %>
      </div>
      <div class='text-center mt-5'>
        <%= link_to '登録ページへ', new_user_path, class: "me-3" %>
        <%= link_to 'passwordをお忘れの方はコチラ', new_password_reset_path %>
      </div>
    </div>
  </div>
</div>
