<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4ZXJ5GMJ2D"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-4ZXJ5GMJ2D');
    </script>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta property="og:url" content="https://loguma.onrender.com/">
    <meta property="og:type" content="product">
    <meta property="og:title" content="Loguma">
    <meta property="og:description" content="Logumaで、ログをつける。身につける。">
    <meta property="og:site_name" content="Loguma">
    <meta property="og:image" content="<%= image_url('Loguma.jpeg')%>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload"%>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag('kuchaman.jpeg') %>
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render partial:"shared/flash_message" %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
